.card-container {
  margin: 24px;
  padding: 16px;
  background-color: rgb(250,250,250);
  border-radius: 4px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.card-img-chess {
  /* should take half of the width */
  width: 50%;
  background-size: cover;
  background-position: 100% 50%;
}

.card-img-chess i {
  margin: 8px;
  color: #c63a53;
  font-size: 24px;
}

.card-product-info {
  width: 50%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-rating {
  margin-top: 16px;
  color: gold;
}

.card-product-info h2, .card-product-info p {
  margin: 0;
}

.card-container video {
  width: 100%;
  height: 200px;
  margin: 16px 0;
}

.card-footer {
  display: flex;
  gap: 16px;
}

.card-footer img {
  width: 100px;
  flex-grow: 1;
  height: 200px;
  object-fit: cover;
  /* margin-right: 16px; */
}

/* .card-footer img:last-child {
  margin-right: 0;
} */